@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin card-gradient($light, $dark) {
    background: linear-Gradient(to bottom right, $light, $dark)
}

@mixin center-align() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}