.composition {
    position: relative;
    display: inline-block;
    &__photo {
        width: 55%;
        box-shadow: 0 1rem 2.5rem darken($shadow, 80%);
        position: absolute;
        z-index: 10;
        transition: $default-transition;
        outline-offset: 1.25rem;
        &__p1 {
            left: 0;
            top: -1.25rem;
        }
        &__p2 {
            right: 0;
            top: 1.25rem;
        }
        &__p3 {
            left: 20%;
            top: 6.25rem;
        }
        &:hover {
            outline: 1rem solid $primary-green;
            transform: scale(1.05) translateY(-.3125rem);
            z-index: 20;
            border-radius: 0;
            box-shadow: 0 1.6rem 2.5rem darken($shadow, 80%);
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}