.feature__box {
    background-color: rgba($white-color, 0.8);
    font-size: 0.9375rem;
    padding: 1.5625rem;
    text-align: center;
    border-radius: 3px;
    transition: all .3s;
    box-shadow: 0 0.9375rem 2.5rem $shadow;
    &__icon {
        font-size: 3.75rem;
        margin-bottom: .3125rem;
        color: transparent;
        display: inline-block;
        background: {
            image: linear-gradient(to right, $light-green 10%, darken($primary-green, 5%));
            clip: text;
        }
    }
    &:hover {
        transform: translateY(-.975rem) scale(1.03);
    }
}