body {
    font: {
        family: "Lato", sans-serif;
        weight: 400;
        size: 1rem;
    }
    line-height: 1.7;
    padding: 2rem;
}

.header__content__heading {
    color: $white-color;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 3.75rem;
    &__main {
        display: block;
        font: {
            size: 3.75rem;
            weight: 400;
        }
        letter-spacing: 2.1875rem;
        animation: move-in-left 800ms ease-in-out;
    }
    &__sub {
        display: block;
        font: {
            size: 1.25rem;
            weight: 700;
        }
        letter-spacing: 1.0rem;
        animation: move-in-right 800ms ease-in-out;
    }
}

.heading__secondary {
    font-size: 2.1875rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $light-green, $dark-green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s ease-in-out;
    letter-spacing: .125rem;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.3125rem 0.625rem 1.25rem $shadow;
    }
}

.tertiary__heading {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}

.tertiary__paragraph {
    font-size: $default-font-size;
    font-weight: 700;
    color: rgba(0, 0, 0, .6);
    &:not(:last-child) {
        margin-bottom: 1.875rem;
    }
}