.u_center_text {
    text-align: center !important;
}

.u_margin_bottom_big {
    margin-bottom: 5rem !important;
}

.u_margin_bottom_small {
    margin-bottom: 1rem !important;
}

.u_margin_bottom_medium {
    margin-bottom: 2.5rem !important;
}

.u_margin_top_huge {
    margin-top: 6.25rem !important;
}