.section__about {
    background-color: $light-gray-color;
    padding: 15.625rem 0;
    margin-top: -20vh;
    clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
    @include respond(portrait) {
        padding: 12.5rem 0;
    }
}

.section__features {
    padding: 12.5rem 0;
    background: {
        image: linear-gradient( to right bottom, rgba($light-green, 0.8), rgba($dark-green, 0.8)), url("../img/nat-4.jpg");
        size: cover;
        position: top;
    }
    transform: skewY(-7deg);
    margin-top: -5.2rem;
    &>* {
        transform: skewY(7deg);
    }
    @include respond(portrait) {
        padding: 6.25rem 0;
    }
}

.section__tours {
    margin-top: -5.3rem;
    background-color: $light-gray-color;
    padding: 15.625rem 0 9.375rem 0;
    @include respond(portrait) {
        padding: 12.5rem 0 6.25rem 0;
    }
}

.section__story {
    padding: 9.375rem 0;
    background-color: transparent; //rgba($light-gray-color, 0.8);
    position: relative;
    @include respond(portrait) {
        padding: 6.25rem 0;
    }
}

.section__book {
    padding: 9.375rem 0;
    background-image: linear-gradient( to right bottom, $light-green, $dark-green);
    @include respond(portrait) {
        padding: 6.25rem 0;
    }
}

.book {
    background: {
        image: linear-gradient( 105deg, rgba($white-color, 0.9) 0%, rgba($white-color, 0.9) 50%, transparent 50%), url("../../img/nat-10.jpg");
        size: cover;
        repeat: no-repeat;
    }
    border-radius: 0.1875rem;
    box-shadow: 0 0.9375rem 2.5rem darken($shadow,
    20%);
    // height: 31.25rem;
    @include respond(landscape) {
        background: {
            image: linear-gradient( 105deg, rgba($white-color, 0.9) 0%, rgba($white-color, 0.9) 70%, transparent 70%), url("../../img/nat-10.jpg");
            size: cover;
            repeat: no-repeat;
        }
    }
    &__form {
        width: 50%;
        padding: 1rem 3.75rem;
        @include respond(landscape) {
            width: 70%;
        }
    }
}